<div class="page-header">
  <h1>NBA</h1>
</div>
<table class="table table-condensed" id="">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Team</th>
      <th>Team Name</th>
      <th>Conference</th>
      <th>Division</th>
      <th>City</th>
      <th>Arena</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in nbaTeam">
      <td><img ng-src="{{team.logo}}" width="15%"></td>
      <td>{{team.team}}</td>
      <td>{{team.name}}</td>
      <td>{{team.conference}}</td>
      <td>{{team.division}}</td>
      <td>{{team.city}}</td>
      <td>{{team.arena}}</td>
    </tr>
  </tbody>
</table>
