body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.horizontal-collapse {
  height: 70px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
